{% extends 'myapp/base.html' %}

{% block content %}
  <h1>Agent: {{ agent.user.username }}</h1>
  <img src="{{ agent.profile_picture.url }}" alt="Agent Profile Picture">
  <p>Contact: {{ agent.contact_number }}</p>
  <p>{{ agent.bio }}</p>

  <h2>Properties created by {{ agent.user.username }}</h2>
  
  <div class="row">
    {% for property in properties %}
      <div class="col-md-6 mb-3">
        <div class="card">
          <!-- Display property details as needed -->
          <div class="card-img-container">
            <a href="{% url 'myapp:property_detail' property.id %}">
              <img src="{{ property.image.url }}" width="32%" class="card-img-top" alt="{{ property.title }}">
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'myapp:property_detail' property.id %}" style="color: #007bff; text-decoration: none;">{{ property.title }}</a>
            </h5>
            <!-- Add more property details here -->
            <p class="card-text" style="color: #333;">Price: ${{ property.price }}</p>
            <p class="card-text" style="color: #333;">Bedrooms: {{ property.bedrooms }}</p>
            <!-- You can display more property details as needed -->
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
