<!-- List of Users to Send Friend Requests -->
<h2>Send Friend Requests</h2>
<ul class="list-group mt-4">
    {% for user in users_to_send_request %}
    <li class="list-group-item">
        {{ user.username }} 
        <form method="post" action="{% url 'social:send_friend_request' %}">
            {% csrf_token %}
            <input
                type="hidden"
                name="receiver_username"
                value="{{ user.username }}"
            />
            <button type="submit" class="btn btn-primary">Send Friend Request</button>
        </form>
    </li>
    {% empty %}
    <li class="list-group-item">No users available to send friend requests.</li>
    {% endfor %}
</ul>
