{% extends 'social/base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container">
    <h1>User Profile: {{ user_profile.user.username }}</h1>
    
    <!-- User Profile Information -->
    <div class="row">
        <div class="col-md-4">
            <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h2>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h2>
            
        </div>
    </div>
    
    <!-- Additional Content or Features -->
    <div class="mt-4">
        <h2>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</h2>
            <p><strong>Location:</strong> {{ user_profile.location }}</p>
            <p><strong>Bio:</strong> {{ user_profile.bio }}</p>
            {% if user_profile.user != request.user %}
            <a href="{% url 'social:send_friend_request' user_profile.user.username %}" class="btn btn-primary">Send Friend Request</a>

            {% endif %}

        <!-- Add more content specific to the user profile view here -->
    </div>
</div>
{% endblock %}
